---
---
h1, h2, h3,
h4, h5, h6 {
  @extend %headings !optional;
}

/*  fontSize: */
.m { font-size: 1em; }
.xl { font-size: 1.15rem; }

.card {
  width: 100%;
}

.card-content %headings {
  font-weight: bold;
  text-transform: uppercase;
}

b {
  font-weight: bold;
}

img.emoji {
  height: 14px;
  width: 14px;
  filter: grayscale(50%);
}

img.emoji.xl,
.xl img.emoji {
  height: 1.15rem;
  width: 1.15rem;
}

.card-title.xl {
  font-size: 2.5rem;
  font-family: 'Lato', 'Roboto', sans-serif;
}

.emphasise {
  text-transform: uppercase;
}

.cv-profile-pic {
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.cv-executive-banner {
  display: table;
}

.cv-executive .card-content,
.cv-executive .cv-profile-pic {
  display: table-cell;
}

.cv-executive .cv-profile-pic {
  margin: 24px 0 12px 18px;
}

.btn-lower {
  text-transform: none;
}

.waves-effect:not(.btn):not(a) {
  cursor: initial
}

.cv-contacts {
  font-family: monospace;
  width: 100%;
}

.cv-contacts-container {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.cv-contacts a.btn div.icon {
  float: left;
  margin-right: 5px;
}

.cv-section-label {
  width: 175px;
  z-index: 0;
}

.card .card-content p {
  margin-bottom: 0.7em;
}

.card .card-content p:last-child {
  margin-bottom: 0;
}

.card .card-content p:only-of-type {
  margin: 0;
}

ul,
ul>li:first-child h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul.cv-section {
  list-style-type: none;
  margin-left: 1.5em;
  margin-top: 0;
}

ul.cv-section li {
  text-indent: -1.25em;
  font-size: 1.15em;
  font-weight: bold;
  text-transform: uppercase;
}

ul.cv-section li:before
{
  font-family: auto;
  font-size: inherit;
  text-align: left;
  text-rendering: auto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\8226";
  float: left;
  width: 1.25em;
}

ul.cv-section li.mdi:before {
  font-family: "Material Design Icons";
}

ul.cv-section li.mdi.mdi-flask-outline:before { content: "\F0096"; }
ul.cv-section li.mdi.mdi-history:before { content: "\F02DA"; }
ul.cv-section li.mdi.mdi-school:before { content: "\F0474"; }
ul.cv-section li.mdi.mdi-space-invaders:before { content: "\F0BC9"; }
ul.cv-section li.mdi.mdi-star:before { content: "\F04CE"; }
ul.cv-section li.mdi.mdi-wrench:before { content: "\F05B7"; }

.card-content.cv-section-body %headings {
  margin: 0;
  text-transform: none;
  line-height: unset;
  float: left;
}

.card-content.cv-section-body h1, h2 {
  width: 100%;
  font-size: 1.15rem;
}

.card-content.cv-section-body h1 {
  text-transform: uppercase;
}

.card-content.cv-section-body h1:not(:first-of-type),
.card-content.cv-section-body h2:not(:first-of-type) {
  margin-top: 1em;
}

.card-content.cv-section-body h3 {
  margin-bottom: 0.5em;
}

.card-content.cv-section-body h3, h4 {
  font-weight: 300;
  font-size: 1em;
}

.card-content.cv-section-body h4 {
  font-weight: 300;
  font-style: italic;
  float: right;
}

.card-content.cv-section-body p {
  float: left;
  clear: both;
}

.card-content.cv-section-body.cv-section-history p:first-of-type {
  margin-top: 0.7em;
}

.card-content.cv-section-body>p:first-of-type {
  margin-top: 0;
}

.card-content.cv-section-body>ul>li ul {
  padding-left: 1em;
}

.card-content.cv-section-body>ul>li ul,
.card-content.cv-section-body>ul>li ul>li {
  float: left;
  width: 100%;
  list-style-type: disc;
}

.card-content.cv-section-body>ul,
.card-content.cv-section-body>ul>li {
  float: left;
  list-style-type: none;
}

.card-content.cv-section-body>ul>li {
  float: left;
  width: 100%;
}

.card-content.cv-section-body>ul>li:not(:first-of-type) {
  margin-top: 1.5em;
}

.card-content.cv-section-body * ul>li>p:first-of-type,
.card-content.cv-section-body * ul>li>p:last-of-type,
.card-content.cv-section-body * ul>li>p:only-of-type,
.card-content.cv-section-body * ul>li>p {
  margin: 0;
}

#page.container {
  width: 95%;
  margin-top: 1em;
}

.contact-detail,
.contact-detail-sm,
.contact-detail-lg {
  overflow: hidden;
  text-overflow: ellipsis;
  whitespace: nowrap;
}

.contact-detail-lg {
  display: block;
}

.contact-detail,
.contact-detail-sm {
  display: none;
}

@media only screen and (max-width: 1240px) {
  .contact-detail {
    display: block;
  }

  .contact-detail-lg,
  .contact-detail-xs {
    display: none;
  }
}

@media only screen and (max-width: 940px) {
  .contact-detail-sm {
    display: block;
  }

  .contact-detail,
  .contact-detail-lg {
    display: none;
  }

  .cv-contacts a.btn div.icon {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 760px) {
  .contact-detail,
  .contact-detail-sm,
  .contact-detail-lg {
    display: none;
  }

  .cv-contacts a.btn div.icon {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 680px) {
  .card.horizontal {
    display: inline-block;
  }

  div.card-content.cv-section-label {
    width: 100%;
    padding: 5px 24px;
  }

  .cv-section-label ul {
    margin: 1em;
  }
}
